<%= link_to recipe_path(recipe), class: "text-decoration-none text-reset" do %>
  <div class="card h-100 shadow-sm">
    <%= image_tag recipe_image_src(recipe),
                  class: "card-img-top recipe-img",
                  alt: recipe.title,
                  loading: "lazy" %>

    <div class="card-body d-flex flex-column">
      <h5 class="card-title mb-2"><%= recipe.title %></h5>

      <% ing = parse_ingredients(recipe.ingredients_list) %>
      <div class="ingredients-list mb-2">
        <%= render_ingredients(ing, @products || [], limit: 10) %>
      </div>
    </div>
  </div>
<% end %>
