<%= form_with model: @fridge, local: true, class: "mt-3" do |f| %>
  <div class="mb-3">
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit "Save", class: "btn btn-secondary" %>
<% end %>
